.todo__item {
	padding: 5px;
	border: 2px solid #323232;
	border-radius: 5px;
	text-align: left;
}

.todo__done {
	border-color: #028502;
}

.todo__active {
	border-color: #ff2f2f;
}

.todo__link {
	text-decoration: none;
	color: #323232;
	border-radius: 5px;
}

.todo__user {
	font-weight: 600;
}

.todo__link:hover {
	background-color: #323232;
	color: #ff6c00;
}
